body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*=====  End of Navbar Styles  ======*/

.product-card {
  cursor: pointer;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card-container {
  flex-basis: 18%;
  padding: 1rem;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 15px #eaeaea;
  margin: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.product-card img {
  max-height: 240px;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  display: block;
  margin: 0 auto 12px auto;
}

a {
  text-decoration: none;
}

.product-card-container .product-price {
  color: #121212;
  font-style: italic;
  font-weight: bold;
}

.product-card-container .product-title {
  font-weight: bold;
  text-decoration: none;
  color: #121212;
}
.product-card-container .product-title:hover {
  font-weight: bold;
  text-decoration: none;
  color: #121212;
}
.product-card-container .product-description {
  color: #121212;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader-spin infinite alternate 1s linear;
  }
}

@keyframes loader-spin {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/* Product details page */
.product-details {
  margin: auto;
  max-width: 400px;
  padding: 1rem;
}

.product-details .product-title {
  font-weight: bold;
}

.product-details img {
  max-height: 400px;
  max-width: 400px;
  text-align: center;
  display: block;
  margin: 0 auto 12px auto;
}

.product-details .product-price {
  font-style: italic;
}

@media screen and (max-width: 1200px) {
  .product-card-container {
    flex-basis: 22%;
  }
}

@media screen and (max-width: 992px) {
  .product-card-container {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 740px) {
  .product-card-container {
    flex-basis: 46%;
  }
}

@media screen and (max-width: 620px) {
  .product-card-container {
    flex-basis: 40%;
  }
}

@media screen and (max-width: 480px) {
  .product-card-container {
    flex-basis: 100%;
  }
}
